.footer {
    background-image: url("../../Assets/back2.jpeg");
    height: 15vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    height: 100vh;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-right: 300px;
}

body{
    font-family: 'Titillium Web', sans-serif;
}

.roulette-wrappers{
    position:relative;
    display:flex;
    justify-content:center;
    width:100%;
    margin:0 auto;
    overflow:hidden;
}

.roulette-wrappers .selectors{
    width:3px;
    background:grey;
    left:50%;
    height:100%;
    transform:translate(-50%,0%);
    position:absolute;
    z-index:2;
}

.roulette-wrappers .wheels{
    display:flex;
}

.roulette-wrappers .wheels .rows{
    display:flex;
}

.roulette-wrappers .wheels .rows .cards{
    height:75px;
    width:75px;
    margin:3px;
    border-radius:8px;
    border-bottom:3px solid rgba(0,0,0,0.2);
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:1.5em;
}

.cards.reds{
    background:#F95146;
}

.cards.blacks{
    background:#2D3035;
}

.cards.greens{
    background:#00C74D;
}

.roulettes {
    margin-top: 30px;
}

