target
.idea
.bloop
.bsp
.metals
metals.sbt
.vscode

src/test/scala/PokerHandEvaluatorTest/

# Helm charts
charts/Chart.lock
charts/*/Chart.lock
charts/values*.yaml
charts/*/values*.yaml
charts/values*.bak
charts/*/values*.bak
target/*
charts/charts/*
charts/*/charts
charts/values.yaml
charts/*/values.yaml